<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Initiative Roll: <input type="text" id="initiativeRoll2" value="100">
    <table id="actionsTable">
        <tr>
            <th>Initiative</th>
            <th>Actions</th>
            <th>Rounds</th>
        </tr>
        <tr>
            <td>-10</td>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>-5</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>0</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>5</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10</td>
            <td>5</td>
            <td>2</td>
        </tr>
        <tr>
            <td>15</td>
            <td>3</td>
            <td>1</td>
        </tr>
        <tr>
            <td>20</td>
            <td>7</td>
            <td>2</td>
        </tr>
        <tr>
            <td>25</td>
            <td>4</td>
            <td>1</td>
        </tr>
    </table>

    <script src="models/queryActionsTable.js"></script>

</body>
</html>